body {
  margin-bottom: 8em;
}

#report-emergency-heading {
  padding-top: 1em;
}

#emergency-description {
  box-sizing: border-box;
  width: 100%;
}

#phone-number {
  box-sizing: border-box;
  width: 100%;
}

.form-control-heading {
  padding-bottom: .5em;
  padding-top: 1.5em;
}

#file-upload {
  width: 100%;
}

.radio-button {
  width: 1.5em;
  height: 1.5em;
}

.checkbox {
  width: 1.5em;
  height: 1.5em;
  margin-bottom: .18em;
  padding-left: 1em;
}

#send-location-label {
  padding-bottom: 0;
  padding-right: .3em;
}


#send-location-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 2em;
}

#submit-button {
  align-self: center;
}

#low-button-container {
  display: flex;
  padding-bottom: 1em;
}

#medium-button-container {
  display: flex;
  padding-bottom: 1em;
}

#high-button-container {
  display: flex;
}

#button-container {
  display: flex;
  justify-content: center;
}