.none-display {
  display: none;
}

.block-display {
  display: block;
}

.hide-link {
  display: none;
}

.phone-number-link {
  text-decoration: none;
  color: #6c757d;
}

.phone-number-link:hover {
  color: #fff;
}

#contact-security-button:hover {
  color: #fff;
}

#signout {
  text-align: right;
  margin-right: 50px;
}

.display-6 {
  font-size: 25px;
}

.questionP {
  font-size: 18px;
}